.term {
    align-items: center;
    position: absolute;
    top: 50vh;
    width: 100%;
    margin: 0.5em;
    text-align: center;
}

@media screen and (min-width: 800px) {
    #container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .term {
        display: inline-block;
        border: darkgrey solid 1px;
        border-radius: 1em;
        padding: 1em;
        text-align: center;
        width: 90%;
        max-width: 1200px;
    }
}