<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('index') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
                 <link rel="stylesheet" href="./Fork-Awesome-1.1.7/css/fork-awesome.min.css" />
                 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
                 <link rel="stylesheet" href="./styles/style.css" />
        {% endblock %}
    </head>
    <body>
        <!-- ... -->
        <div id="root"></div>
        <div class="js-user-info" data-id={{user.id}} data-email={{user.email}}></div>
        {% block javascripts %}
            {{ encore_entry_script_tags('index') }}
            
            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>